!!!
%head
  %meta{ :charset => 'utf-8' }
  = style_sheet
  - if enable_search
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
%body
  .ribbon
    = link_to "Alpha", "about"

  .container
    .header
      .logo
        %h1
          %span.logo><
            \#in
          %span.logo.green><
            q
          %span.logo><
            lude
        %h2
          %span.subtitle
            The Qt library archive
      .menu
        %ul
          %li
            = link_to "Home", "index"
          %li
            = link_to "How to get libraries", "get"
          %li
            = link_to "How to contribute", "contribute"
          %li
            = link_to "About", "about"
        .search
          - if enable_search
            %gcse:searchbox-only{ resultsUrl: "https://inqlude.org/search.html" }
              Loading...
      %br{ :clear => "all" }

    .content
      = yank

      %br{ :clear => "all" }

  %hr

  .legal
    Inqlude is a
    = link_to "KDE project", "http://kde.org"
    = "|"
    = link_to "Legal", "http://www.kde.org/community/whatiskde/impressum.php"

  - if enable_search
    :javascript
      (function() {
        var cx = '012526638842992167133:g7thmrlp2uw';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
