%h3
  Stable libraries

%table.table-hover.col-sm-12
  - libraries(:stable).each do |library|
    %tr 
      %td.name
        - if library.latest_manifest.display_name
          = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
        - else
          = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
      %td.summary
        = library.manifests.last.summary      
      %td.platforms
        - if library.manifests.last.platforms.include? 'Linux'
          %i.fa.fa-linux
        - if library.manifests.last.platforms.include? 'OS X'
          %i.fa.fa-apple
        - if library.manifests.last.platforms.include? 'Windows'
          %i.fa.fa-windows
        - if library.manifests.last.platforms.include? 'Android'
          %i.fa.fa-android
        - if library.manifests.last.platforms.include? 'iOS'
          %span.ios
      %td.topics
        - if library.manifests.last.topics
          - library.manifests.last.topics.each do |topic|
            - if (topic != library.manifests.last.topics.last)
              = topic + ", "
            - else 
              = topic                    
      %td.licenses
        - library.manifests.last.licenses.each do |license|
          - if (license != library.manifests.last.licenses.last)
            = license + ", "
          - else 
            = license

%h3
  Developer releases

%table.table-hover.col-sm-12
  - libraries(:beta).each do |library|
    %tr 
      %td.name
        - if library.latest_manifest.display_name
          = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
        - else
          = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
      %td.summary
        = library.manifests.last.summary      
      %td.platforms
        - if library.manifests.last.platforms.include? 'Linux'
          %i.fa.fa-linux
        - if library.manifests.last.platforms.include? 'OS X'
          %i.fa.fa-apple
        - if library.manifests.last.platforms.include? 'Windows'
          %i.fa.fa-windows
        - if library.manifests.last.platforms.include? 'Android'
          %i.fa.fa-android
        - if library.manifests.last.platforms.include? 'iOS'
          %span.ios        
      %td.topics
        - if library.manifests.last.topics
          - library.manifests.last.topics.each do |topic|
            - if (topic != library.manifests.last.topics.last)
              = topic + ", "
            - else 
              = topic                    
      %td.licenses
        - library.manifests.last.licenses.each do |license|
          - if (license != library.manifests.last.licenses.last)
            = license + ", "
          - else 
            = license

  - libraries(:alpha).each do |library|
    %tr 
      %td.name
        - if library.latest_manifest.display_name
          = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
        - else
          = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
      %td.summary
        = library.manifests.last.summary      
      %td.platforms
        - if library.manifests.last.platforms.include? 'Linux'
          %i.fa.fa-linux
        - if library.manifests.last.platforms.include? 'OS X'
          %i.fa.fa-apple
        - if library.manifests.last.platforms.include? 'Windows'
          %i.fa.fa-windows
        - if library.manifests.last.platforms.include? 'Android'
          %i.fa.fa-android
        - if library.manifests.last.platforms.include? 'iOS'
          %span.ios       
      %td.topics
        - if library.manifests.last.topics
          - library.manifests.last.topics.each do |topic|
            - if (topic != library.manifests.last.topics.last)
              = topic + ", "
            - else 
              = topic                     
      %td.licenses
        - library.manifests.last.licenses.each do |license|
          - if (license != library.manifests.last.licenses.last)
            = license + ", "
          - else 
            = license

  - libraries(:edge).each do |library|
    %tr 
      %td.name
        - if library.latest_manifest.display_name
          = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
        - else
          = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
      %td.summary
        = library.manifests.last.summary      
      %td.platforms
        - if library.manifests.last.platforms.include? 'Linux'
          %i.fa.fa-linux
        - if library.manifests.last.platforms.include? 'OS X'
          %i.fa.fa-apple
        - if library.manifests.last.platforms.include? 'Windows'
          %i.fa.fa-windows
        - if library.manifests.last.platforms.include? 'Android'
          %i.fa.fa-android
        - if library.manifests.last.platforms.include? 'iOS'
          %span.ios        
      %td.topics
        - if library.manifests.last.topics
          - library.manifests.last.topics.each do |topic|
            - if (topic != library.manifests.last.topics.last)
              = topic + ", "
            - else 
              = topic                     
      %td.licenses
        - library.manifests.last.licenses.each do |license|
          - if (license != library.manifests.last.licenses.last)
            = license + ", "
          - else 
            = license

%h3
  Unreleased libraries

%table.table-hover.col-sm-12
  - unreleased_libraries.each do |library|
    %tr 
      %td.name
        - if library.latest_manifest.display_name
          = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
        - else
          = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
      %td.summary
        = library.manifests.last.summary      
      %td.platforms
        - if library.manifests.last.platforms.include? 'Linux'
          %i.fa.fa-linux
        - if library.manifests.last.platforms.include? 'OS X'
          %i.fa.fa-apple
        - if library.manifests.last.platforms.include? 'Windows'
          %i.fa.fa-windows
        - if library.manifests.last.platforms.include? 'Android'
          %i.fa.fa-android
        - if library.manifests.last.platforms.include? 'iOS'
          %ispan.ios
      %td.topics
        - if library.manifests.last.topics
          - library.manifests.last.topics.each do |topic|
            - if (topic != library.manifests.last.topics.last)
              = topic + ", "
            - else 
              = topic                     
      %td.licenses
        - library.manifests.last.licenses.each do |license|
          - if (license != library.manifests.last.licenses.last)
            = license + ", "
          - else 
            = license

%hr

:javascript
  $('table.table-hover.col-sm-12 tr').click( function() {
    window.location = $(this).find('a').attr('href');
  }).hover( function() {
    $(this).toggleClass('hover');
  });
  