!!!
%head
  %meta{ :charset => 'utf-8' }
  = style_sheet
  - if enable_search
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/inqlude.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

%body

  .container-fluid.header

    .col-md-8.logo    
      %h1
        %span.logo><
          \#in
        %span.logo.green><
          q
        %span.logo><
          lude
      %h2
        %span.subtitle
          The Qt library archive

    .col-md-4.search  
      - if enable_search
        %gcse:searchbox-only{ resultsUrl: "https://inqlude.org/search.html" }
          Loading...
    %br{ :clear => "all" }

  .container-fluid.content

    .col-sm-3.side-bar

      .col-sm-12.description
        %p
          Inqlude provides a comprehensive listing of all existing libraries for developers of applications using the #{link_to "Qt toolkit", "http://qt-project.org"}. Inqlude is run by the community and open for contributions. 
      
        %ul
          %li
            = link_to "About", "about"
          %li
            = link_to "How to get libraries", "get"
          %li
            = link_to "How to contribute", "contribute"          
          
      .col-sm-12.latest-releases
        .col-sm-12.title
          Latest releases
        .col-sm-12.latest-releases-content
          %table
            %tr
              %td
                - latest_libraries.each do |library|
                  - if library.latest_manifest.display_name
                    = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
                  - else
                    = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
                  %date
                    = '(' + library.latest_manifest.release_date + ')'
                  %br
                - if is_kde_latest?
                  = link_to_group('kde-frameworks', 'KDE Frameworks')
                  %date
                    = '(' + kde_frameworks_release_date + ')'

      .col-sm-12.filters
        .col-sm-12.title
          Filters
        .col-sm-12.filters-content
          %h6
            Topics
          %table
            %tr
              %td
            - topics.each do |topic|
              = topic
              %br

    .col-sm-9.main-pane 
      = yank

      %br{ :clear => "all" }

  %hr
  
  .col-sm-12.legal
    Inqlude is a
    = link_to "KDE project", "http://kde.org"
    = "|"
    = link_to "Legal", "http://www.kde.org/community/whatiskde/impressum.php"

  - if enable_search
    :javascript
      (function() {
        var cx = '012526638842992167133:g7thmrlp2uw';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
