%h2
  All
  | #{link_to "Stable libraries", "index"}
  | #{link_to "Development versions", "development"}
  | #{link_to "Unreleased", "unreleased"}
  | #{link_to "Commercial", "commercial"}

%p
  These are all #{libraries.count} libraries collected on Inqlude. There also
  is a group view for #{link_to "KDE Frameworks", "groups/kde-frameworks"}.

%table
  - libraries.each do |library|
    %tr
      %td.first
        = link_to_manifest library.name
      %td.last
        = library.latest_manifest.summary
        %span{"class" => "library-short-meta-data"}
          - if library.latest_manifest.schema_type == "generic"
            (unreleased,
          - else
            (#{library.latest_manifest.maturity},
          #{library.latest_manifest.licenses.join(", ")})
