%h2
  Commercial
  | #{link_to "Stable libraries", "index"}
  | #{link_to "Development versions", "development"}
  | #{link_to "Unreleased", "unreleased"}
  | #{link_to "All", "all"}

%p
  Libraries which are available under a commercial license.
  
%table
  - commercial_libraries.each do |library|
    %tr
      %td.first
        = link_to_manifest library.name
      %td.last
        = library.manifests.last["summary"]
