%h2
  = group_title

%table
  - group.each do |library|
    %tr
      %td.first
        = link_to_manifest library.name
      %td.last
        = library.manifests.last["summary"]
        %span{"class" => "library-short-meta-data"}
          - if library.manifests.last["schema_type"] == "generic"
            (unreleased,
          - else
            (#{library.manifests.last["maturity"]},
          #{library.manifests.last["licenses"].join(", ")})

%p
  #{group.count} libraries listed in group #{group_title}.

