%h2
  = group_title

%table
  - group.each do |library|
    %tr
      %td.first
        = link_to_manifest library.name
      %td.last
        = library.latest_manifest.summary
        %span{"class" => "library-short-meta-data"}
          - if library.latest_manifest.schema_type == "generic"
            (unreleased,
          - else
            (#{library.latest_manifest.maturity},
          #{library.latest_manifest.licenses.join(", ")})

%p
  #{group.count} libraries listed in group #{group_title}.

