%h2
  = m "name"

%p
  %em
    Version
    = m "version"
    = "(#{m "maturity"})"
    %span{:class => "release-date"}
      released on #{m "release_date"}
    - if !old_versions.empty?
      %span{:class => "old-versions"}
        = "(older versions: #{old_versions.join(", ")})"

%p
  = m "summary"

%p
  = m "description"

= list_attribute "licenses"
= list_attribute "platforms"
= list_attribute "authors"

%p
  Home page:
  = link m( "urls", "homepage" )

- if more_urls?
  %h3 Read more
  %ul
    = link_item "api_docs", "API documentation"
    = link_item "readme", "README"
    = link_item "tutorial", "Tutorial"
    = link_item "download", "Download sources"
    = link_item "vcs", "Source code repository"
    = custom_urls

- if m("packages") && m( "packages", "source" )
  %h3 Packages

  = link_to "Source code", m( "packages", "source" )

%p{:class => "edit-link"}
  = link_to "[Edit]", editor_url

%br{:clear => "all"}

- if disqus_enabled?
  %hr

  #disqus_thread

  :javascript
    var disqus_shortname = 'inqlude';

    var disqus_identifier = '#{m "name"}';
    var disqus_url = 'http://inqlude.org/libraries/#{m "name"}.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
