%h2
  = m "name"

%p
  %em
    Version
    = m "version"
    = "(#{m "maturity"})"

%p
  = m "summary"

%p
  = m "description"

%p
  - licenses = m( "licenses" )
  - if licenses.size > 1
    Licenses:
    = licenses.join ","
  - else
    License:
    = licenses

- if m("platforms")
  %p
    - platforms = m( "platforms" )
    - if platforms.size > 1
      Platforms:
      = platforms.join ","
    - else
      Platform:
      = platforms

%p
  = link m( "urls", "homepage" )

- if more_urls?
  %h3 Read more
  %ul
    - if m( "urls","api_docs" )
      %li
        = link_to "API documentation", m( "urls","api_docs" )
    - if m( "urls","readme" )
      %li
        = link_to "README", m( "urls","readme" )
    - if m( "urls","vcs" )
      %li
        = link_to "Source code repository", m( "urls", "vcs" )

%p{:class => "edit-link"}
  = link_to "[Edit]", editor_url

%br{:clear => "all"}

- if disqus_enabled?
  %hr

  #disqus_thread

  :javascript
    var disqus_shortname = 'inqlude';

    var disqus_identifier = '#{m "name"}';
    var disqus_url = 'http://inqlude.org/libraries/#{m "name"}.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
