%head
  %link{ :rel => "stylesheet", :type => "text/css",
         :href => "../public/inqlude.css" }

%body
  .header.center
    %h1
      %span.logo><
        \#in
      %span.logo.green><
        q
      %span.logo><
        lude
      %span.subtitle
        The Qt library archive

  .menu.center

  .content.center
    %h2
      = m "name"
  
    %p
      %em
        Version
        = m "version"

    %p
      = m "summary"

    %p
      = m "description"

    %p
      = link m( "homepage" )
